{
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/routes/(.*)$",
        "^@/features/(.*)$",
        "^@/api/(.*)$",
        "^@/components/layouts/(.*)$",
        "^@/components/interfaces/(.*)$",
        "^@/components/ui/(.*)$",
        "^@/components/(.*)$",
        "^@/lib/(.*)$",
        "^@/hooks/(.*)$",
        "^@/assets/(.*)$",
        "^@workspace/shared$",
        "^@workspace/ui/(.*)$",
        "^[./]"
    ],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "packages/ui/src/styles/globals.css",
    "tailwindFunctions": ["cn", "cva"]
}
